$primaryFont: 'Poppins', sans-serif;
$activeColor: #178cff;
$activeOpacityColor: #1790ff4d;
$bgColor: #1a1736;
$cardColor: #242041;
$blackColor: #000000;
$whiteColor: #ffffff;
$whiteTransColor: #2e2a4d;
$darkBorder: #6f748f42;
$ashColor: #bbb5d1;
$ashDarkColor: #6f748f;
$greenColor: #05c46b;
$redColor: #ff3f34;
$placeholderColor: #6e738e;
