.version5 {
  background: #0f0f0f;
}
.version5 .exchange__widget,
.version5 .exchange__widget__trading,
.version5 .header,
.version5 .navigation,
.version5 .exchange__widget__history {
  box-shadow: unset;
  background: #000000;
  border: 1px solid #000000;
}
.version5 .header__price-update ul li,
.version5 .exchange__widget .nav-pills,
.version5 .header__user-balance,
.version5 .header__user-profile,
.version5 .exchange__widget table tr:nth-child(even),
.version5 .exchange__widget__order-note-item input,
.version5 .dropdown-menu a:hover,
.version5 .exchange__widget-slider-item,
.version5 .exchange__widget-account-info,
.version5 .exchange__widget__history thead,
.version5 .fixed-table-toolbar .search input,
.version5 .fixed-table-toolbar .columns button,
.version5 .exchange__widget__history select,
.version5 .pagination-detail span button,
.version5 ul.pagination li a,
.version5 .exchange-email-radio .custom-radio {
  background: #ffffff0f;
}
.version5 .dropdown-menu {
  background: #0f0f0f;
}
.version5 .exchange__widget .nav-pills .nav-item a,
.version5 .exchange__widget table tr td:first-child,
.version5 .exchange__widget-title,
.version5 .exchange__widget__order-note h2,
.version5 .exchange__widget__order-note-item p,
.version5 .exchange__widget__order-note-item input,
.version5 .exchange__widget__order-note-item button,
.version5 .header__price-update ul li,
.version5 .header__user-balance-text h2,
.version5 .header__user-profile-text h2,
.version5 .navigation__item-label,
.version5 .navigation__header-label,
.version5 .navigation__footer-label,
.version5 .exchange__widget input,
.version5 .exchange__widget textarea,
.version5 .dropdown-menu a,
.version5 .exchange__widget-slider-item-content h2,
.version5 .exchange__widget-slider-item-content p,
.version5 .exchange__wallet-account,
.version5 .table-bordered td,
.version5 .table-bordered th,
.version5 .fixed-table-toolbar .search input,
.version5 .pagination-detail,
.version5 .page-size,
.version5 ul.pagination li a,
.version5 .exchange__widget__profile label,
.version5 .exchange__widget__profile select,
.version5 .exchange-email-verify,
.version5 .exchange__widget label,
.version5 .exchange__widget td,
.version5 .exchange__widget th,
.version5 .header__price-update ul li span {
  color: #ffffff !important;
}
.version5 .exchange__widget table tbody tr:hover {
  background: #ffffff1f;
}
.version5 .header__user-profile-icon span,
.version5 .fixed-table-toolbar .search input,
.version5 .exchange__widget__history select,
.version5 .fixed-table-toolbar .columns button,
.version5 .pagination-detail span button,
.version5 .page-item .page-link {
  border-color: #ffffff0f;
}
.version5 .apexcharts-gridline {
  stroke: #ffffff0f;
}
.version5 .navigation__item-link.active .navigation__item-label,
.version5 .navigation-footer-link.active .navigation__footer-label,
.version5 .navigation__item-link:hover .navigation__item-label,
.version5 .navigation-footer-link:hover .navigation__footer-label {
  color: #178cff !important;
}
